// Shared style
// % is placeholder selector. Acts a lot like a class selector
%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(.98);
  }
}


// Extend to other type of buttons
.btn-primary {
  @extend %btn;

  // method lighten() or darken() to up or down the color
  // background-color: lighten($primary-color, 10%);

  // using a mixin
  @include set-background(lighten($primary-color, 10%))
}

.btn-secondary {
  @extend %btn;
  // background-color: darken($secondary-color, 20%);

  // using a mixin
  @include set-background(darken($secondary-color, 20%));
}
